@model ALM1Bank.Data.BankRepository

<h1>TJENA! Kolla våra kunder:</h1>

@foreach (var cust in Model.Customers)
{
    var balance = Model.Accounts.SingleOrDefault(x => x.AccountID == cust.AccountID).Balance;
    <h2>KundID: @cust.CustomerID - Namn: @cust.Name - Kontonummer: @cust.AccountID - Saldo: @balance pengar</h2>
    <hr />
}
